# Measuring the time to compute with numpy arrays with different dimensions

In [1]:
import numpy as np
import time

In [2]:
data = []
for n in [1,2,3,4,5,6,7,8,9,10]:

    loc = 0
    scale = 1

    for size in [[n**8], [n**4, n**4], [n**2, n**2, n**2, n**2], [n,n,n,n,n,n,n,n]]:
        times = []
        numbers = np.random.normal(loc=loc, scale=scale, size=size)
        for _ in range(100):
            start = time.time()
            _ = numbers**2
            end = time.time()

            duration = end-start
            times.append(duration)

        data.append([n, np.mean(times), np.std(times), numbers.shape[0], len(numbers.shape)])
    print('Mean: {}\tStd: {}\tShape: {}'.format(np.mean(times), np.std(times), numbers.shape))

Mean: 6.301403045654297e-06	Std: 3.359164639915556e-07	Shape: (1, 1, 1, 1, 1, 1, 1, 1)
Mean: 3.120899200439453e-06	Std: 3.20040866836237e-07	Shape: (2, 2, 2, 2, 2, 2, 2, 2)
Mean: 1.354217529296875e-05	Std: 1.5612758324385584e-05	Shape: (3, 3, 3, 3, 3, 3, 3, 3)
Mean: 0.00025214672088623045	Std: 6.730669387535321e-05	Shape: (4, 4, 4, 4, 4, 4, 4, 4)
Mean: 0.0014685297012329102	Std: 9.162997313094924e-05	Shape: (5, 5, 5, 5, 5, 5, 5, 5)
Mean: 0.0059876108169555665	Std: 0.0002772934866865695	Shape: (6, 6, 6, 6, 6, 6, 6, 6)
Mean: 0.04945578336715698	Std: 0.0004718187446557639	Shape: (7, 7, 7, 7, 7, 7, 7, 7)
Mean: 0.10585887908935547	Std: 0.008272778549901242	Shape: (8, 8, 8, 8, 8, 8, 8, 8)
Mean: 0.3439345073699951	Std: 0.0036243572329465725	Shape: (9, 9, 9, 9, 9, 9, 9, 9)
Mean: 0.743518636226654	Std: 0.058511943659612285	Shape: (10, 10, 10, 10, 10, 10, 10, 10)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.DataFrame(data, columns=['n', 't_mean', 't_std', 'values', 'dims'])
df.tail()

     n    t_mean     t_std     values  dims
35   9  0.343935  0.003624          9     8
36  10  0.841934  0.069334  100000000     1
37  10  0.711393  0.045105      10000     2
38  10  0.665871  0.026751        100     4
39  10  0.743519  0.058512         10     8

In [5]:
df[['n', 't_mean', 'dims']]

     n    t_mean  dims
0    1  0.000006     1
1    1  0.000007     2
2    1  0.000006     4
3    1  0.000006     8
4    2  0.000007     1
5    2  0.000007     2
6    2  0.000010     4
7    2  0.000003     8
8    3  0.000011     1
9    3  0.000012     2
10   3  0.000012     4
11   3  0.000014     8
12   4  0.000298     1
13   4  0.000167     2
14   4  0.000249     4
15   4  0.000252     8
16   5  0.001548     1
17   5  0.001497     2
18   5  0.001441     4
19   5  0.001469     8
20   6  0.006279     1
21   6  0.006920     2
22   6  0.005999     4
23   6  0.005988     8
24   7  0.035424     1
25   7  0.049642     2
26   7  0.034419     4
27   7  0.049456     8
28   8  0.102601     1
29   8  0.106915     2
30   8  0.100518     4
31   8  0.105859     8
32   9  0.277400     1
33   9  0.272028     2
34   9  0.265222     4
35   9  0.343935     8
36  10  0.841934     1
37  10  0.711393     2
38  10  0.665871     4
39  10  0.743519     8